.price-header {
    text-align: center; /* Center-aligns the text */
    /* color: pink;  */
    /* Sets text color to pink */
  }
/*   
  .ag-fresh .ag-header-cell-label .ag-header-cell-text
{
display: inline-block;
text-align: center;
}

.ag-fresh .ag-header-cell-label .ag-header-icon
{
vertical-align: top;
}

.ag-fresh .ag-header-cell-label > span
{
float: none;
} */
/* 
.ag-header-cell-label {
    justify-content: center;
    color: red;
  }

  .text{
    justify-content: end;
  } */

  .ag-header-cell-label.center-align {
    justify-content: center; /* Center-aligns the header content */
    color: red;
  }
  
  .start-table>.ag-header-cell-label {
    justify-content: center; /* Center-aligns the header content */
    color: red;
  }
  
  .clr{
    color: blue;
  }
  .start-table> .ag-header-cell-label  {
    color: red;
  }